arel
lns
*.txt
opt
sim
!parameters.txt
*.pyc
*.object
*.zip
*.swp
*.mat
*.svg
*.gif
sim_temp_*
*__pycache__*
slurm-*.out
test_data/*.txt
test_data
executables
dir_*
top_dir_*
*.csv
parametric_*e*
!parametric_driver.py
*.png
*.fig
*_exe
trash
